.tech-bg {
  background-color: rgb(242, 253, 253);
}

.tech-bg li {
  background-color: rgb(242, 253, 253);
}

.tech-head {
  background-repeat: no-repeat;
  background-size: cover;
}

.tech-img-content {
  background-color: #1dbfc1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.tech-bg p {
  font-size: 18px;
}

.tech-bg h5 {
  color: #1950c4;
}
