/* btn & hover */

#button {
  color: #1dbfc1;
  border: 1px solid #1dbfc1;
  transition: all 0.5s ease;
}

#button:hover {
  color: white;
  background-color: #1dbfc1;
}

/* cart  */

.cart {
  font-size: 30px;
}

.btn .badge {
  top: 6px !important;
}

.cart-empty {
  border-top: 3px solid black;
  background-color: rgb(247, 247, 247)
}

.add-to-cart {
  width: 100%;
  margin: 0 auto;
}

.add-to-cart table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.add-to-cart th{
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}



.add-to-cart td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.add-to-cart th {
  background-color: rgb(247, 247, 247);
}

/* products */

.bg-blue {
  background-color: rgb(242, 253, 253);
}
